@model Dictionary<string,int>

    @{
    ViewBag.Title = "_ConsultarRanking";
    Layout = "~/Views/Shared/_LayoutWithBar.cshtml";
    int i = 1;
    }

<div style="text-align:center">
    <h1 style="text-align:center;color:#280000 ;font-family:'Comic Sans MS'">Ranking Nacional</h1>

    <br>

    <table align="center" style="width:35%;text-align:left;font-size:x-large">
        <tr>
            <th>Posição</th>
            <th>Utilizador</th>
            <th>Pontos</th>
        </tr>

        @foreach (var item in Model.Keys)
        {
            <tr>
                <td>@i º</td>
                <td>@item</td>
                <td>@Model[item]</td>
                @{i++;}
            </tr>
        }

    </table>
</div>
