@model Dictionary<string,int>

    @{
    ViewBag.Title = "_ConsultarRanking";
    int i = 1;
    }

<div style="text-align:center">
    <h1>Ranking Nacional</h1>

    <br>

    <table align="center" style="width:30%;text-align:left">
        <tr>
            <th>Posição</th>
            <th>Utilizador</th>
            <th>Pontos</th>
        </tr>

        @foreach (var item in Model.Keys)
        {
            <tr>
                <td>@i º</td>
                <td>@item</td>
                <td>@Model[item]</td>
                @{i++;}
            </tr>
        }

    </table>
</div>
