@model Dictionary<String,List<String>>


<ul>
@foreach (var item in Model.Keys)
{
    <li>
        <h4>Etapa  : @item</h4>
            <ul>
            @foreach (var aula in Model[item])
            {
                <li>@Html.ActionLink("Aula "+aula,"Index")</li>
            }
            </ul>
    </li>
}
</ul>    
