@model Dictionary<String,List<String>>


<ul>
@foreach (var item in Model.Keys)
{
    <li>
        <h4>Etapa  : @item</h4>
            <ul>
            @foreach (var aula in Model[item])
            {
                @Html.BeginForm("Index", "Aula");
                <li>@Html.ActionLink("Aula " + aula, "../Aula/Index", new { titulo = aula})</li>
            }
            </ul>
    </li>
}
</ul>    
