
@{
    ViewBag.Title = "Nomes da História - tutor virtual";
}



@if (Session["userID"] != null) { 
    <div class="aulas">
        @Html.Action("_ListEtapas","Home","Home/_ListEtapas")
  
    </div>
    <div class="Sala_de_aula">
    </div>
    <div class="Avatar">
    </div>
}
else
{
    <div class="container text-center">
        <h2 class="text-primary text-center">Olá, Bem Vindo aos Nome da História</h2>

        <p>introduçao a cenas ficava fixed!</p>

        <h4>Vamos Aprender?</h4>
       
            @Html.ActionLink("Entrar", "Login", "Home", new { area = "" }, new { @class = "btn btn-default text-primary" })
       
            @Html.ActionLink("Registar", "Register", "Home", new { area = "" }, new { @class = "btn btn-default text-primary" })
    </div>
}
