
@{
    ViewBag.Title = "Nomes da História - tutor virtual";
}



@if (Session["userID"] != null) { 
    <div class="aulas">
        @Html.Action("_ListEtapas","Home","Home/_ListEtapas")
  
    </div>
    <div class="Sala_de_aula">
    </div>
    <div class="Avatar">
    </div>
}
else
{
    <body background="~/Assets/Backgrounds_ops/Portugal.jpg" style="width:auto;height:auto">
        <div class="container text-center">

            <h1 class="text-primary text-center">Olá, Bem Vindo aos Nome da História</h1>

            <p>introduçao a cenas ficava fixed!</p>


            <div>
                <img src="~/Assets/sprites/ldc/camoes_1.png" alt="Camões avatar">
                <img src="~/Assets/sprites/dafh/Afonso_1.png" alt="Camões avatar">
            </div>
            <h3>Vamos Aprender?</h3>


            @Html.ActionLink("Entrar", "Login", "Home", new { area = "" }, new { @class = "btn btn-default text-primary" })

            @Html.ActionLink("Registar", "Register", "Home", new { area = "" }, new { @class = "btn btn-default text-primary" })
        </div>
    </body>
}
