@{
    ViewBag.Title = "Nomes da História - tutor virtual";
    Layout = "~/Views/Shared/_LayoutWithBar.cshtml";
}


@if (Session["userID"] != null)
{

    <div class="containerCards sidebar" style="background-color:transparent">
        <div class="card " style="background-color:transparent">
            @Html.Action("_ListEtapas", "Home", "Home/_ListEtapas")
        </div>
    </div>

        <div class="body-contentT">

            <div class="container text-center">
               
                <div class="containerCards">
                    <div class="card tutor">
                        @Html.Action("MostraTutor", "Personagen", "Personagen/MostraTutor")
                    </div>
                </div>
            </div>
        </div>
}
else
{
        <div class="body-content">
            <div class="content">
                <div class="container text-center">

                    <h1 class="text-primary text-center" style="text-align:center;color:#280000 ;font-family:'Comic Sans MS'">Olá, Bem Vindo aos Nome da História</h1>

                    <p>introduçao a cenas ficava fixed!</p>


                    <div class="container text-center">
                        <div class="leftAvatar">
                            <img class="welcomeAvatar" src="~/Assets/sprites/ldc/camoes_1.png" alt="Camões avatar">
                        </div>
                        <div class="rightAvatar">
                            <img class="welcomeAvatar" src="~/Assets/sprites/dafh/Afonso_1.png" alt="Camões avatar">
                        </div>
                        <div class="welcome-video">
                            <video width="640" height="480" controls>
                                <source src="~/Assets/help/videoRegistar.mp4" type="video/mp4">
                                <source src="~/Assets/help/videoRegistar.ogv" type="video/ogg">
                                <source src="~/Assets/help/videoRegistar.webm" type="video/webm">
                                O teu browser não suporta ficheiros de video
                            </video>
                        </div>
                        <div class="container">
                            <h3>Vamos Aprender?</h3>
                            @Html.ActionLink("Entrar", "Login", "Home", new { area = "" }, new { @class = "btn btn-primary text-primary" })
                            @Html.ActionLink("Registar", "Register", "Home", new { area = "" }, new { @class = "btn btn-primary text-primary" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
}
