@model NomesdaHistoriaApp.Models.PersonagemViewModel



<div class="container">
    <div id="tutorReprovado">
        <img src="~/@Model.sprite" />
        <audio hidden autoplay>
            <source  src="~/Assets/intros/clicaEmMimMale.wav" type="audio/wav">
        </audio>
    </div>
</div>