@model NomesdaHistoriaApp.Models.Aulas.AulaViewModel

@if (Model != null)
{


    ViewBag.Title = Model.titulo;

    <h2 style="text-align:center;color:#280000 ;font-family:Georgia, 'Times New Roman', Times, serif">
        @Model.titulo
    </h2>


        <div class="media">
            @Html.Action("_LoadMedia",new {ap = Model.apresentacao})
        </div>

<div class="tutor">

</div>


<div class="avaliacao">
</div>

}else{
    <h2>Ocurreu um erro ao Carregar a aula</h2>
}